{% load humanize %}
{% load advertisements_extras %}
<h1>{{ advertisement.title }}</h1>
<ul>
    <li>Описание: {{ advertisement.description }}</li>
    <li>Тип объявления: {{ advertisement.type }}</li>
    <li>Цена: {{ advertisement.price|intcomma }}₽ или {{ advertisement.price | usd_price }}$ {% currency_date %}</li>
    <li>Категория: {{ advertisement.category }}</li>
    <li>Дата публикации: {{ advertisement.created_at }}</li>
    <li>Статус: {{ advertisement.status }}</li>
    <li>Контактная информация:
        <ul>
            <li>Телефон: {{ advertisement.author.phone }}</li>
            <li>email: <a href="mailto:{{ advertisement.author.email }}">{{ advertisement.author.email }}</a></li>
        </ul>
    </li>
    <li>Количество просмотров: {{ advertisement.views_counter }}</li>
</ul>