{% extends 'base.html' %}
{% load i18n %}
{% load cache %}
{% block title %}{% trans 'Loyalty program' %}{% endblock %}
{% block h1 %}{% trans 'Loyalty program' %}{% endblock %}

{% block content %}
    <div>
        <p><a href="{% url 'main_page_url' %}">{% trans 'View offers' %}</a></p>
    </div>
    {% if orders %}
    <div>
        <h2>{% trans 'Shopping history' %}</h2>
        <table>
            <tr>
                <th>{% trans 'Shop' %}</th>
                <th>{% trans 'Good' %}</th>
                <th>{% trans 'Quantity' %}</th>
                <th>{% trans 'Item cost' %}</th>
                <th>{% trans 'Total cost' %}</th>
                <th>{% trans 'Date' %}</th>
                <th>{% trans 'Get back' %}</th>
            </tr>
        {% cache 300 order_history user.username %}
        {% for order in orders %}
            <tr>
                <td><a href="?shop={{ order.shop.id }}">{{ order.shop.name }}</a></td>
                <td>{{ order.good.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.price_order }}$</td>
                <td>{{ order.total_cost }}$</td>
                <td>{{ order.date }}</td>
                <td>
                    <form action="{% url 'refuse_url' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="order" value="{{ order.id }}">
                        <button type="submit">{% trans 'Refuse' %}</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        {% endcache %}
        </table>
    </div>
    {% endif %}
{% endblock %}