{% extends 'advertisements/base.html' %}

{% block title %}Профессия Интернет-маркетолог{% endblock title %}

<h1>{% block header %}Профессия Графический дизайнер{% endblock header %}</h1>

{% block content%}
<div>Курс на <a href="https://skillbox.ru/course/profession-marketolog/">Skillbox</a></div>
<div>Стоимость решений: 1000р.</div>
<div><img src="https://248006.selcdn.ru/LandGen/desktop_2_2f781972c2056d2991a77f83eb2231440ddffb83.webp"
         style="width: 200px; max-height: 150px;"></div>
{% endblock content %}