<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Advertisement</title>
</head>
<body>
<h1>Профессия Графический дизайнер</h1>
<div>Курс на <a href="https://skillbox.ru/course/profession-graphdesigner/">Skillbox</a></div>
<div>Стоимость решений: 1500р.</div>
<div>
    <img src="https://248006.selcdn.ru/LandGen/desktop_2_2f781972c2056d2991a77f83eb2231440ddffb83.webp"
         style="width: 200px; max-height: 150px;">
</div>
</body>
</html>
