<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Advertisement</title>
</head>
<body>
<h1>Профессия Python-разработчик</h1>
<div>Курс на <a href="https://skillbox.ru/course/profession-python/">Skillbox</a></div>
<div>Стоимость решений: 2000р.</div>
<div>
    <img src="https://248006.selcdn.ru/LandGen/desktop_2_4589beaf332198133164e04e0fb855c2c1368858.webp"
         style="width: 200px; max-height: 150px;">
</div>
</body>
</html>
