{% extends 'advertisements/base.html' %}

{% block title %}Список объявлений{% endblock title %}

<h1>{% block header %}Список объявлений{% endblock header %}</h1>
{% block content%}
<ul>
    {% for item in adv_personal %}
    <li>{{ item }}</li>
    {% endfor %}

    {% for item in adv_transport %}
    <li>{{ item }}</li>
    {% endfor %}

    {% for item in adv_hobby %}
    <li>{{ item }}</li>
    {% endfor %}
{#    <li><a href="{% url 'advertisements_detail_1' %}">Профессия Python-разработчик</a></li>#}
{#    <li><a href="{% url 'advertisements_detail_2' %}">Профессия Интернет-маркетолог</a></li>#}
{#    <li><a href="{% url 'advertisements_detail_3' %}">Профессия Графический дизайнер</a></li>#}
{#    <li><a href="{% url 'advertisements_detail_4' %}">Профессия UX/UI-дизайнер</a></li>#}
{#    <li><a href="{% url 'advertisements_detail_5' %}">Профессия Продюсер игровых проектов</a></li>#}
</ul>
{% endblock content %}