{% extends 'advertisements/base.html' %}

{% block title %}Профессия Интернет-маркетолог{% endblock title %}

<h1>{% block header %}Профессия Интернет-маркетолог{% endblock header %}</h1>

{% block content%}
<div>Курс на <a href="https://skillbox.ru/course/profession-marketolog/">Skillbox</a></div>
<div>Стоимость решений: 1000р.</div>
<div><img src="https://248006.selcdn.ru/LandGen/desktop_2_7d3a8daa4fd14b6ab0fe997fcb97e57db3ef0b52.webp"
         style="width: 200px; max-height: 150px;"></div>
{% endblock content %}