<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Решение ДЗ</title>
</head>
<body>
<h1>Прошел все курсы на SkillBox. Продаю готовые домашние задания:</h1>
<ul>
    <li><a href="advertisements/1/">Профессия Python-разработчик</a></li>
    <li><a href="advertisements/2/">Профессия Интернет-маркетолог</a></li>
    <li><a href="advertisements/3/">Профессия Графический дизайнер</a></li>
    <li><a href="advertisements/4/">Профессия UX/UI-дизайнер</a></li>
    <li><a href="advertisements/5/">Профессия Продюсер игровых проектов</a></li>
</ul>
</body>
</html>