{% extends 'advertisements/base.html' %}

{% block title %}Профессия Python-разработчик{% endblock title %}

<h1>{% block header %}Профессия Python-разработчик{% endblock header %}</h1>

{% block content%}
<div>Курс на <a href="https://skillbox.ru/course/profession-python/">Skillbox</a></div>
<div>Стоимость решений: 2000р.</div>
<div><img src="https://248006.selcdn.ru/LandGen/desktop_2_4589beaf332198133164e04e0fb855c2c1368858.webp"
         style="width: 200px; max-height: 150px;"></div>
{% endblock content %}