{% extends 'advertisements/base.html' %}

{% block title %}Профессия UX/UI-дизайнер{% endblock title %}

<h1>{% block header %}Профессия UX/UI-дизайнер{% endblock header %}</h1>

{% block content%}
<div>Курс на <a href="https://skillbox.ru/course/profession-marketolog/">Skillbox</a></div>
<div>Стоимость решений: 1000р.</div>
<div><img src="https://248006.selcdn.ru/LandGen/desktop_2_f45739431c73c8ab9581f51a67e18189179c7433.webp"
         style="width: 200px; max-height: 150px;"></div>
{% endblock content %}